#bem-vindo-ao-vitally{
    font-size: 50px;
    position: relative;
    top: -30px;
    text-align: left;
    color: rgb(0, 238, 255);
    font-size: 70px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}
#alarmes-personalizados{
    color:  rgb(0, 238, 255);
    text-align: center;
    font-size: 33px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}
#metas-personalizadas{
    color:  rgb(0, 238, 255);
    text-align: center;
    font-size: 33px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}
#gestao-personalizada{
    color:  rgb(0, 238, 255);
    text-align: center;
    font-size: 35px;
    font-style: oblique;
    font-weight: bold;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:rgb(0, 0, 0);
}
.stButton>button {
    background-color: #0300999c;  /* Cor de fundo */
    color: rgb(28, 210, 223);  /* Cor do texto */
    border-radius: 10px;  /* Borda arredondada */
    padding: 10px 20px;  /* Espaçamento interno */
}